[submodule "include/external/ReflectionApi"]
	path = include/external/ReflectionApi
	url = https://github.com/MisterixTeamAsmodeus/ReflectionApi.git
[submodule "include/external/QueryCraft"]
	path = include/external/QueryCraft
	url = https://github.com/MisterixTeamAsmodeus/QueryCraft.git
[submodule "include/external/SqliteAdapter"]
	path = include/external/SqliteAdapter
	url = https://github.com/MisterixTeamAsmodeus/SqliteAdapter.git
